.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 320px;
}

.input {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input::placeholder {
  color: #212529;
  opacity: 0.4;
}

.input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.submit {
  display: block;
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 200px;
}

.list1a {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
  counter-reset: li;
  width: 200px;
}

.list1a li {
  border: 2px solid #337AB7;
  background: #EBF3FA;
  position: relative;
  margin-bottom: 20px;
  padding: 16px 10px;
}

.list1a li:hover {
  z-index: 1;
}

.list1a li:before {
  border: 2px solid #337AB7;
  position: absolute;
  top: -14px;
  padding: 2px 10px;
  font-size: 11px;
  font-weight: bold;
  color: #337AB7;
  background: #F7FAFD;
  counter-increment: li;
  content: counter(li);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.list1a li:hover:before {
  background: #337AB7;
  color: #FFF;
  -webkit-transform: translate(-12px, 0);
  -ms-transform: translate(-12px, 0);
  -o-transform: translate(-12px, 0);
  transform: translate(-12px, 0);
}

.list1a li:after {
  content: "";
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: width;
  transition-property: width;
  z-index: -1;
  background: #FFF;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.list1a li:hover:after {
  width: 100%;
}

.container {
  background-color: #000;
  height: 100vh;
}